{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedStore | Ecommerce Website Design</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo&family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    {% block header %}
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"><img src="{% static 'images/logo.png' %}" width="125px"></a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="/">Home</a></li>
                        <li><a href="products">Products</a></li>
                        <!-- <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li> -->
                        {% if user.is_authenticated %}
                        <li><a href="confirmed">Confirmed Orders</a></li>
                        {% if user.is_superuser %}
                        <li><a href="control_panel">Control Panel</a></li>
                        {% endif %}
                        <li><a href="logout">Logout</a></li>
                        {% else %}
                        <li><a href="account/signup">Signup & Login</a></li>
                        {% endif %}

                    </ul>
                    {% if user.is_authenticated %}
                    <a href="/cart"><img src="{% static 'images/cart.png' %}" width="30px" height="30px"></a>
                    {% else %}
                    <a href="/account/signup"><img src="{% static 'images/cart.png' %}" width="30px" height="30px"></a>
                    {% endif %}
                    <img src="{% static 'images/menu.png' %}" class="menu-icon" onclick="menutoggle()">
                </nav>
            </div>
            <div class="row">
                <div class="col-2">
                    {% if user.is_authenticated %}
                    <h1>Welcome, <br> {{ user.username }}!</h1>
                    {% else %}
                    <h1>Give Yuor Workout <br> A New Style!</h1>
                    {% endif %}
                    <p>Success is not always about greatness. Its about consistency. Consistent <br>hard work gains
                        Success. Greatness wildl come.</p>
                    <a href="/products" class="btn">Explore Now &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="{% static 'images/image1.png' %}">
                </div>
            </div>
        </div>
    </div>
    {% endblock header %}
    {% block content %}
    <!-------------featured categories ------------->
    <div class="catigories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="{% static 'images/category-1.jpg' %}">
                </div>
                <div class="col-3">
                    <img src="{% static 'images/category-2.jpg'%}">
                </div>
                <div class="col-3">
                    <img src="{% static 'images/category-3.jpg'%}">
                </div>
            </div>
        </div>
    </div>
    <!-------------featured products ------------->
    <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
            {% for product in featured_products %}
            {% if forloop.counter0 < 4 %}
            <div class="col-4">
                <a href="product_details/{{ product.id }}"><img src="{{ product.image }}">
                    <h4>{{ product.name }}</h4>
                </a>
                {% include 'rate.html' %}
                <p>${{ product.price }}</p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    <!-- latest products -->
    <h2 class="title">Latest Products</h2>
    {% for product in all_products %}
    {% if forloop.counter0 < 8 %} 
    {% if forloop.counter == 1 or forloop.counter == 5 %} <div class="row"> {% endif %}
    <div class="col-4">
        <a href="product_details/{{ product.id }}"><img src="{{ product.image }}">
            <h4>{{ product.name }}</h4>
        </a>
        <div class="rating">
            {% for i in product.rate_text %}

            {% if i == 'F' %}
            <i class="fa fa-star" aria-hidden="true"></i>
            {% else %}
            <i class="fa fa-star" style="color: #999;" aria-hidden="true"></i>
            {% endif %}

            {% endfor %}
        </div>
        <p>${{ product.price }}</p>
    </div>
    {% if forloop.counter == 4 or forloop.counter == 8 or forloop.last %} </div> {% endif %}
    {% endif %}
    {% endfor %}
    </div>
    <!-- offer -->
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="{{ offer.image }}" class="offer-img">
                </div>
                <div class="col-2">
                    <p>Exclusively Available on RedStore</p>
                    <h1>{{ offer.name }}</h1>
                    <small>{{ offer.description }}</small>
                    <a href="product_details/{{ offer.id }}" class="btn">Buy Now &rightarrow;</a>
                </div>
            </div>
        </div>
    </div>

    <!-- testimonial -->
    <div class="testimonial">
        <div class="small-container">
            <div class="row">
                {% for testimonial in testimonials %}
                {% if forloop.counter0 < 3 %}
                <div class="col-3">
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                    <p>{{ testimonial.comment }}</p>
                    <div class="rating">
                        {% for i in testimonial.rate_text %}
                        {% if i == 'F' %}
                        <i class="fa fa-star" aria-hidden="true"></i>
                        {% else %}
                        <i class="fa fa-star" style="color: #999;" aria-hidden="true"></i>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <img src="{{testimonial.image}}" alt="">
                    <h3>{{ testimonial.name }}</h3>
                </div>
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Brands -->
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="{% static 'images/logo-godrej.png' %}" alt="">
                </div>
                <div class="col-5">
                    <img src="{% static 'images/logo-oppo.png' %}" alt="">
                </div>
                <div class="col-5">
                    <img src="{% static 'images/logo-coca-cola' %}.png" alt="">
                </div>
                <div class="col-5">
                    <img src="{% static 'images/logo-paypal.png' %} " alt="">
                </div>
                <div class="col-5">
                    <img src="{% static 'images/logo-philips.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Downlad Our App</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="{% static 'images/play-store.png' %}">
                        <img src="{% static 'images/app-store.png' %}">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="{% static 'images/logo-white.png' %}">
                    <h3>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the
                        Many.
                    </h3>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-3">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>YouTube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2020 - My CV</p>
        </div>
    </div>
    <script>
        var MenuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px";

        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px";
            } else {
                MenuItems.style.maxHeight = "0px";
            }
        }
    </script>
</body>

</html>