{% extends 'index.html' %}
{% load static %}

{% block header %}

<div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="index.html"><img src="{% static 'images/logo.png' %}" width="125px"></a>
        </div>
        <nav>
            <ul id="MenuItems">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <!-- <li><a href="">About</a></li>
                <li><a href="">Contact</a></li> -->
                {% if user.is_authenticated %}
                <li><a href="/confirmed">Confirmed Orders</a></li>
                {% if user.is_superuser %}
                <li><a href="/control_panel">Control Panel</a></li>
                {% endif %}
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/account/signup">Signup & Login</a></li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <a href="/cart"><img src="{% static 'images/cart.png' %}" width="30px" height="30px"></a>
            {% else %}
            <a href="/account/signup"><img src="{% static 'images/cart.png' %}" width="30px" height="30px"></a>
            {% endif %}
            
            <img src="{% static 'images/menu.png' %}" class="menu-icon" onclick="menutoggle()">
        </nav>
    </div>
</div>

{% endblock header %}
{% block content %}

<div class="small-container">
    <div class="row row-2">
        <h2>All Products</h2>
        <select>
            <option>Default Sorting</option>
            <option>Sort by price</option>
            <option>Sort by popularity</option>
            <option>Sort by rating</option>
            <option>Sort by sale</option>
        </select>
    </div>
    {% for product in all_products %}
    {% if forloop.first or forloop.counter0|divisibleby:"4"  %} <div class="row"> {% endif %}
    <div class="col-4">
        <a href="product_details/{{ product.id }}"><img src="{{ product.image }}">
            <h4>{{ product.name }}</h4>
        </a>
        {% include 'rate.html' %}
        <p>${{ product.price }}</p>
    </div>
    {% if forloop.counter|divisibleby:"4" or forloop.last %} </div> {% endif %}
    {% endfor %}

</div>
{% endblock content %}